* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.simpleTransferWrapper {
  max-width: 100%;
  margin: 0 auto;
   
  background-color: white;
  padding-right: 30%;
}

@media (max-width: 1200px) {

  .simpleTransferWrapper{
    padding-right: 0;
  }
}