
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.homeContainer {
  justify-content: center;
  margin-top: 6rem;
  border: none;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.15), 
              0 6px 15px rgba(0, 0, 0, 0.12); 
  background: #ffffff;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 100px;
  transition: box-shadow 0.3s ease-in-out;
  min-height: 1000px;
}

.Welcome{
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
  max-width: 800px !important;
}


.componentWrapper {
  max-width: 1200px;
  width: 100%;
}

.homeHeading {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}

.scenarioSelect {
  font-size: 1.5rem;
  color: #333;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}

@media (max-width: 800px) {
  main {
    margin-left: 0 !important;
  }

  .homeContainer{
    margin-left: 50px;
    margin-right: 50px;

  }
}

@media (max-width: 1200px){
  .homeContainer{
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  main {
    display: none;
  }
}
